/** var  statement**/
/** root font size start **/
$root-font-size:16px;
/** root font size end **/

/** font positon start **/
$theme-text-center:center;
$theme-text-left:left;
$theme-text-right:right;
/** font positon end **/

/** font  set start**/
$theme-font-family:Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
$theme-font-size:16px;
$theme-line-height:1.4;
/** font set end**/

/** color set start **/
$theme-color:#606266;  //主题字体颜色
$theme-sub-color:#606266; //副字体颜色
$theme-bgcolor:#fff;
$theme-bdcolor:#fff;
/** color set end **/

$themt-box-sizing:border-box;
$theme-click-cursor:pointer;
$theme-radius:0;

/* button  start*/
$btn-font-size:$theme-font-size;
$btn-font-weight:500;
$btn-line-height:1;
$btn-text-center:$theme-text-center;

$btn-color:#606266;
$btn-bgcolor:$theme-bgcolor;
$btn-bdcolor:#dcdfe6;
$btn-hover-color:#409eff;
$btn-hover-bgcolor:#ecf5ff;
$btn-hover-bdcolor:#c6e2ff;

$btn-padding:0.86em 1.43em;

$btn-border-radius:0.286em;

$btn-space:0.5em;
/* button end*/

/* Icon start */
$icon-font-size:$theme-font-size;
$icon-font-weight:500;
$icon-text-center:$theme-text-center;

$icon-color:#606266;
$icon-bgcolor:$theme-bgcolor;
$icon-bdcolor:#dcdfe6;
/* Icon end */

/* Link start */
$link-font-size:$theme-font-size;
$link-font-weight:400;
$link-line-height:1;

$link-color:#606266;
$link-hover-color:#606266;

$link-bgcolor:#fff;
$link-hover-bgcolor:#fff;

$link-bdcolor:transparent;
$link-hover-bdcolor:transparent;

$link-bdwidth:0;
$link-hover-bdwidth:0;

$link-bdstyle:solid;

$link-space:0.5em;
 /* Link end */

/* input  start */
$input-height:44px;
$input-font-size:$theme-font-size;
$input-color:$theme-color;
$input-placeholder-color:$theme-sub-color;
$input-placeholder-size:14px;
$input-padding-horizontal:0.5em;
$input-padding-vertical:0;
$input-line-height:1.5;
$input-outline:none;
$input-radius:0;

$label-line-height:1.5;
$label-padding-horizontal:1em;
$label-padding-vertical:0;
$label-font-size:$theme-font-size;
$label-color:$theme-color;
/* input end */